<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo 1 page</title>
</head>
<body>
  <h1>This is demo page</h1>
  {% if 10 == 10 %}
    <h2>condition is satisfied</h2> 
  {% endif %}

  {% if 0 and 10 %}
    <h2>condition is satisfied</h2> 
  {%else%}
    <h2>condition is not satisfied</h2>
  {% endif %}


  {% if 0 in li %}
    <h2>o is present</h2> 
  {% elif 30 in li %}
    <h2>30 is present</h2> 
  {%else%}
    <h2>given value is not present</h2>
  {% endif %}


  {% if 20==10 %}
    <h2>o is present</h2> 
    {% if 10 in li %}
      <h2>30 is present</h2> 
    {%endif%}
  {%else%}
    <h2>given value is not present</h2>
  {% endif %}


</body>
</html>
